<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Dao.PlanMapper">
	<resultMap id="BaseResultMap" type="com.Bean.Plan">
		<id column="plan_id" property="planId" jdbcType="VARCHAR" />
		<result column="user_loginname" property="userLoginname"
			jdbcType="VARCHAR" />
		<result column="plan_name" property="planName" jdbcType="VARCHAR" />
		<result column="distance" property="distance" jdbcType="VARCHAR" />
		<result column="point" property="point" jdbcType="VARCHAR" />
		<result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
		<result column="flage" property="flage" jdbcType="VARCHAR" />
		<result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		plan_id, user_loginname, plan_name, distance, point, warehouse, flage,
		creattime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from plan
		where plan_id = #{planId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from plan
		where plan_id = #{planId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.Bean.Plan">
		insert into plan (plan_id, user_loginname, plan_name,
		distance, point, warehouse,
		flage, creattime)
		values (#{planId,jdbcType=VARCHAR}, #{userLoginname,jdbcType=VARCHAR},
		#{planName,jdbcType=VARCHAR},
		#{distance,jdbcType=VARCHAR}, #{point,jdbcType=VARCHAR}, #{warehouse,jdbcType=VARCHAR},
		#{flage,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.Bean.Plan">
		insert into plan
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="planId != null">
				plan_id,
			</if>
			<if test="userLoginname != null">
				user_loginname,
			</if>
			<if test="planName != null">
				plan_name,
			</if>
			<if test="distance != null">
				distance,
			</if>
			<if test="point != null">
				point,
			</if>
			<if test="warehouse != null">
				warehouse,
			</if>
			<if test="flage != null">
				flage,
			</if>
			<if test="creattime != null">
				creattime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="planId != null">
				#{planId,jdbcType=VARCHAR},
			</if>
			<if test="userLoginname != null">
				#{userLoginname,jdbcType=VARCHAR},
			</if>
			<if test="planName != null">
				#{planName,jdbcType=VARCHAR},
			</if>
			<if test="distance != null">
				#{distance,jdbcType=VARCHAR},
			</if>
			<if test="point != null">
				#{point,jdbcType=VARCHAR},
			</if>
			<if test="warehouse != null">
				#{warehouse,jdbcType=VARCHAR},
			</if>
			<if test="flage != null">
				#{flage,jdbcType=VARCHAR},
			</if>
			<if test="creattime != null">
				#{creattime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.Bean.Plan">
		update plan
		<set>
			<if test="userLoginname != null">
				user_loginname = #{userLoginname,jdbcType=VARCHAR},
			</if>
			<if test="planName != null">
				plan_name = #{planName,jdbcType=VARCHAR},
			</if>
			<if test="distance != null">
				distance = #{distance,jdbcType=VARCHAR},
			</if>
			<if test="point != null">
				point = #{point,jdbcType=VARCHAR},
			</if>
			<if test="warehouse != null">
				warehouse = #{warehouse,jdbcType=VARCHAR},
			</if>
			<if test="flage != null">
				flage = #{flage,jdbcType=VARCHAR},
			</if>
			<if test="creattime != null">
				creattime = #{creattime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where plan_id = #{planId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.Bean.Plan">
		update plan
		set user_loginname = #{userLoginname,jdbcType=VARCHAR},
		plan_name = #{planName,jdbcType=VARCHAR},
		distance = #{distance,jdbcType=VARCHAR},
		point = #{point,jdbcType=VARCHAR},
		warehouse = #{warehouse,jdbcType=VARCHAR},
		flage = #{flage,jdbcType=VARCHAR},
		creattime = #{creattime,jdbcType=TIMESTAMP}
		where plan_id = #{planId,jdbcType=VARCHAR}
	</update>
	<select id="queryAllPlan" resultMap="BaseResultMap"
		parameterType="com.Bean.Plan">
		select
		<include refid="Base_Column_List" />
		from plan
		where user_loginname = #{userLoginname,jdbcType=VARCHAR}
	</select>
	<select id="queryByuserLoginnameAndplanName" resultMap="BaseResultMap"
		parameterType="com.Bean.Plan">
		select
		<include refid="Base_Column_List" />
		from plan
		where user_loginname = #{userLoginname,jdbcType=VARCHAR} and
		plan_name = #{planName,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByuserLoginnameAndplanName" parameterType="com.Bean.Plan">
		delete from plan
		where user_loginname =
		#{userLoginname,jdbcType=VARCHAR} and
		plan_name =
		#{planName,jdbcType=VARCHAR}
	</delete>
</mapper>