<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.PointMapper" >
<!-- int deleteByPlanId(String planId); -->
	<delete id="deleteByPlanId">
		delete from `point` where plan_id=#{planId}
	</delete>
	
<!-- int insertBatch(List<Point> points); -->
	<insert id="insertBatch">
		insert into `point`(plan_id,id,lng,lat,flag)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.planId},#{item.id},#{item.lng},#{item.lat},#{item.flag})
		</foreach>
	</insert>

<!-- List<Point> queryByPlanId(String planId); -->
	<select id="queryByPlanId" resultType="com.bean.Point">
		select * from `point` where plan_id=#{planId}
	</select>
	
</mapper>